body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.header-image {
 	background-position: top;
	height: auto;
	display: block;
	width: 100%;
	text-align: center;
}


.headline > .container > h1 {
	font-size: 130px;
	background: #ffff;
	background: rgba(0, 255, 255, 0.9);
}

.headline > .container > h2 {
	font-size: 77px;
	background: #ffff;
	background: rgba(0, 255, 255, 0.9);
}

.headline > .container > h3 {
  position: relative;
  text-align: center;
  color: black;
}
.top-left {
	position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

.featurette-divider {
	margin: 10px 0;
	color: black;

}
.featurette {
	overflow: hidden;
}

.featurette-image.pull-left {
	margin-right: 10px;
}
.featurette-image.pull-right {
	margin-left: 10px;
}

.featurette-heading {
	font-size: 30px;
}

footer {
	margin: 50px 0;
}

/* RESPONSIVE CSS */

@media (max-width: 1200px) {

.headline > .container > h1 {font-size: 140px;}
.headline > .container > h2 {font-size: 63px;}
.featurette-divider {margin: 50px 0;}
.featurette-image.pull-left {margin-right: 20px;}
.featurette-image.pull-right {margin-left: 20px;}
.featurette-heading {font-size: 35px;}

}

@media (max-width: 991px) {

.headline > .container > h1 {font-size: 105px;}
.headline > .container > h2 {font-size: 50px;}
.featurette-divider {margin: 40px 0;}
.featurette-image {max-width: 50%;}
.featurette-image.pull-left {margin-right: 10px;}
.featurette-image.pull-right {margin-left: 10px;}
.featurette-heading {font-size: 30px;}

}

@media (max-width: 768px) {

.container {margin: 0 15px;}
.featurette-divider {margin: 40px 0;}
.featurette-heading {font-size: 25px;}

}


@media (max-width: 668px) {

.headline > .container > h1 {font-size: 70px;}
.headline > .container > h2 {font-size: 32px;}
.featurette-divider {margin: 30px 0;}

}

@media (max-width: 640px) {

.headline {padding: 75px 0 25px 0;}
.headline > .container > h1 {font-size: 60px;}
.headline > .container > h2 {font-size: 30px;}

}

@media (max-width: 375px) {

.featurette-divider {margin: 10px 0;}
.featurette-image {max-width: 50%;}
.featurette-image.pull-left {margin-right: 0; margin-bottom: 10px;}
.featurette-image.pull-right {margin-left: 0; margin-bottom: 10px;}

}
